include _includes/sharedHTMLfunctions

extends layout

block content
    .row.page-header
        .col-lg-12
            h1= pageHeader.title
            p.lead #{landing.name}
            small= sidebar.synopsis
    .row
        .col-xs-12.col-md-9
            .row
                .col-xs-12.col-sm-6
                    p.credibility
                        span Credibility &nbsp;
                          +credRating(landing.credibility)
                    span.location #{landing.location} &nbsp;
                    span on &nbsp;
                    span.discovered= landing.discoveredAt
                    br
                    br
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title Witness Report
                        .panel-body
                            p.small.black
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                | Sed viverra cursus arcu, ut sollicitudin eros. Duis eu iaculis purus. Maecenas varius,
                                | metus sed gravida egestas, odio odio pretium augue, et eleifend tortor sem et enim.
                                | Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut felis augue, tincidunt
                                | sed dictum sit amet, pharetra vitae nibh. Quisque eleifend sodales quam quis gravida.
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title Rumored Aspects
                        .panel-body
                            each rumor in landing.rumors
                                span.label.label-warning #{rumor} &nbsp;
                .col-xs-12.col-sm-6
                    img.img-responsive.img-rounded.framed(src="http://maps.googleapis.com/maps/api/staticmap?center="+
                    "#{landing.geo.latitude},#{landing.geo.longitude}&zoom=17&size=400x250&sensor=false&markers="+
                    "#{landing.geo.latitude},#{landing.geo.longitude}&scale=2")
                    img.framed(src="/images/#{landing.photo}")
            .row
                .col-xs-12
                    .panel.panel-primary.quote-panel
                        .panel-heading(style="height: 50px;")
                            a.btn.btn-default.pull-right(href='/landing/quote/new') Add Quote
                            h2.panel-title Quotes
                        .panel-body.quote-container
                            each quote in landing.quotes
                                .row
                                    .quote
                                        .well.well-sm.quote-header
                                            blockquote
                                                .col-xs-8
                                                    i.black= quote.content
                                                .col-xs-4
                                                    span.black= quote.person


